
.logo1{
    margin: 0 !important;
    padding: 0 !important;
    position: fixed;
    display: block;
    height: 15%;
    width: 100%;
    z-index: 4;
    transition: background-color 2s ease-out;

    
}

.page-scroll-header {
    /* background-color: #ccc !important; */
    opacity: 0.9;
    background: rgba(0,0,0,0.2);

     box-shadow:  0px 0px 10px 0px rgb(176, 191, 221);

}
.page-scroll-header1 {
    /* background-color: #ccc !important; */
    opacity: 0.9;
    box-shadow:  0px 0px 10px rgb(176, 191, 221);

}
.abc {
    /* background-color: rgba(0,0,0,0.8); */
    background-image: url("../assets/login5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 115%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.footer{
    margin: 0 !important;
    padding: 0 !important;
    position: absolute;
    background: rgba(0,0,0,0.4);

    display: block;
    top: 103%;
    height: 12%;
    width: 100%;
    /* opacity: 1; */
    box-shadow:  0px 0px 9px rgb(176, 191, 221);
    z-index: 4;
    transition: background-color 2s ease-out;
}

.slider {
    margin: 0 !important;
    padding: 0 !important;
    position: fixed;
    display: block;
    height: 13%;
    width: 100%;
    z-index: 4;
    transition: background-color 2s ease-out;
	transition-property: all;
	transition-duration: .60s;
	transition-timing-function: linear;
}

.slider.closed {
	max-height: 0;
}
.copyright{
    display: block;
    color: white;
    text-align: center;
    position: relative;
    opacity: 0.4;
    top:20%;
}
